
h2 List Phonebook

form(action="/phonebook/search", method="get")
    input(type="text" name="q")
    button Search

ul 
    each person in list
        li
            span= person.name
            span= person.phone
            a(href="/phonebook/view/" +person.id) View

a(href="/phonebook/add") Add new