extends ../layout/index.pug
block content
    .container.mt-5
        .d-flex.justify-content-between
            h2 List Phonebook
            form(action="/phonebook/search", method="get")
                input(type="text" name="q")
                button.btn.btn-outline-primary.ml-2 Search

        table.table 
            tr  
                th Avatar
                th Name
                th Phone number
                th Active
            each person in list
                tr
                    td 
                        img(src= person.avatar, width="60" height="40")
                    td= person.name
                    td= person.phone
                    td 
                        a(href="/phonebook/view/" +person.id) View

        a.btn.btn-primary(href="/phonebook/viewAdd") Add new